@page "/api/citas"

<BarraSuperior></BarraSuperior>
<div class="flex">
    <div>
        <BarraLateral></BarraLateral>

    </div>
    <!--Dos selectores de las listas de pacientes-->
    <div>
        <h3>Seleccionar fecha y hora de la cita</h3>
    </div>
</div>