@page "/api/citas"
<!--Pagina donde se veran las citas reservadas-->

<BarraSuperior></BarraSuperior>
<div class="flex">
    <div class="bg-gray-700">
        <BarraLateral></BarraLateral>

    </div>
    <div class="w-full text-white px-4 py-4 flex-col ">
        <BarraBusqueda Placeholder="Buscar cita" RutaPredefinida="@RutasDefinidas.CrearCitas"></BarraBusqueda>
    </div>
	<div class="w-full h-full overflow-auto">
		<div class="p-4">
			<div class="flex flex-wrap justify-start">
				@if (CitasMostradas != null)
				{
                    <SfGrid DataSource="@CitasMostradas" AllowPaging="true">
                        <GridColumns>
                            <GridColumn Field=@nameof(Cita.idCita) HeaderText="ID Cita" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(Cita.Paciente.PacNombre) HeaderText="ID Paciente" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(Cita.Fecha) HeaderText="Fecha" TextAlign="TextAlign.Right" Format="d" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(Cita.EstadoCita) HeaderText="Estado" TextAlign="TextAlign.Right" Width="120"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                }
                else
                {
                    <CargandoPagina></CargandoPagina>
                }
            </div>
		</div>
	</div>
</div>