@page "/api/citaspendientes"
<!--PAGINA DONDE SE VERAN LAS CITAS QUE SE TIENEN QUE APROBAR-->
<BarraSuperior></BarraSuperior>

<div class="flex">

<div class="w-1/7 bg-gray-700">
<BarraLateral></BarraLateral>
</div>

    <div class="flex flex-col w-full">
        <div class="w-full text-black px-4 py-4 flex-col ">
            @*<BarraBusqueda Placeholder="Buscar Cita" @bind-ItemBuscado="trabajadorBuscado" OnBuscar="BuscarTrabajador" OnReiniciarLista="ReiniciarLista" RutaPredefinida="@RutasDefinidas.CrearTrabajador"></BarraBusqueda>*@
        </div>
<h2>Citas Pendientes</h2>

@if (citasPendientes.Any())
{
    @foreach (var cita in citasPendientes)
    {
        <div>
            <!-- Aquí puedes mostrar la información que desees sobre la cita -->
            <p>{cita.Fecha}: Cita con el ID {cita.IdCita}</p>
            <button @onclick="() => AprobarCita(cita)">Aprobar</button>
            <button @onclick="() => DenegarCita(cita)">Denegar</button>
        </div>
    }
}
else
{
    <p>No hay citas pendientes.</p>
}

<h2>Citas Aprobadas</h2>

@if (citasAprobadas.Any())
{
    <p>{cita.Fecha}: Cita con el ID {cita.IdCita}</p>
}
else
{
    <p>No hay citas aprobadas.</p>
}
</div>
</div>