@page "/api/citas/crearcita"

<PageTitle>Solicitar Cita</PageTitle>
<BarraSuperior></BarraSuperior>

<div class="flex">
    <div class="w-1/7 bg-gray-700">
<BarraLateral></BarraLateral>
</div>
    <div class="w-full">
        <FormSolicitarCita></FormSolicitarCita>
    </div>
</div>
<ToastComponent></ToastComponent>