@page "/api/pacientes"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using Syncfusion.Blazor.Grids;

<PageTitle>Vista Pacientes</PageTitle>
<BarraSuperior></BarraSuperior>



<div class="flex">
    <div class="w-1/7 bg-gray-700">
        <BarraLateral></BarraLateral>
    </div>
    <div class="w-full">
        <div class="col-lg-12 control-section">
            <div class="content-wrapper">
                <div>
                    <div class="w-full text-white px-4 py-4 flex-col ">
                    <BarraBusqueda Placeholder="Buscar Paciente" RutaPredefinida="@RutasDefinidas.CrearPaciente"></BarraBusqueda>
                    </div>

                    <SfGrid DataSource="@PacientesMostrados" AllowPaging="true">
                        <GridColumns>
                            <GridColumn Field=@nameof(Pacientes.idPac) HeaderText="ID" TextAlign="TextAlign.Right"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacNombre) HeaderText="Nombre" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacApellido) HeaderText="Apellido" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacDireccion) HeaderText="Dirección" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacFechRegistro) HeaderText="Fecha de Registro" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacGs) HeaderText="Grupo Sanguíneo" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn Field=@nameof(Pacientes.PacSexo) HeaderText="Sexo" TextAlign="TextAlign.Center"></GridColumn>
                            <GridColumn HeaderText="Acciones" TextAlign="TextAlign.Center">
                                <Template>
                                    @{
                                        var paciente = (context as Pacientes);
                                        <div class="pb-2 flex justify-end">
                                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-300" @onclick="(()=>VerDetalle((int)paciente.idPac))">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 01-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 11-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 016.336-4.486l-3.276 3.276a3.004 3.004 0 002.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008z" />
                                                </svg>
                                            </button>

                                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-300" @onclick="(()=>BorrarPaciente(paciente))">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                </svg>
                                            </button>
                                        </div>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
</div>

<ToastComponent></ToastComponent>