<nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
    <div class="px-6 w-full flex flex-wrap items-center justify-between">
        <div class="flex items-center">
            <a href="@RutasDefinidas.PaginaPrincipal">
                <img src="Images/logo-512x512-preview.png" class="w-10 " />
            </a>
        </div>
        <div class="flex items-center lg:ml-auto">
            <BotonConSombra TextoBoton="Saber mas" Ruta="/informacion" ColorBoton="cyan"></BotonConSombra>
        </div>
    </div>
</nav>

