<nav class="navbar navbar-expand-lg shadow-md py-2 bg-white relative flex items-center w-full justify-between">
    <div class="px-6 w-full flex flex-wrap items-center justify-between">
        <div class="flex items-center">
            <a href="@RutasDefinidas.PaginaPrincipal">
                <img src="Images/logo-512x512-preview.png" class="w-10 " />
            </a>
        </div>
        <div>
            <button @onclick="IrAPaginaAnterior" class="@(MostrarAtras ? string.Empty : "hidden")">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                </svg>
            </button>
        </div>
        <div class="flex items-center lg:ml-auto">
            <BotonConSombra TextoBoton="Saber mas" Ruta="/informacion" ColorBoton="cyan"></BotonConSombra>
        </div>
    </div>
</nav>

