@page "/api/trabajadores/creartrabajador"
@attribute [Authorize]
<PageTitle>Crear Trabajador</PageTitle>
<BarraSuperior ></BarraSuperior>
<h2>Crear Trabajador</h2>
<FormCrearTrabajador></FormCrearTrabajador>
