    @page
    @model RegisterModel
    @{
        ViewData["Title"] = "Register";
    }

    <BarraSuperior></BarraSuperior>
    <div class="container p-10">
        <div class="g-6 flex flex-wrap items-center justify-center text-black-800 dark:text-black-200">
            <div class="w-full">
                <div class="block rounded-lg bg-white shadow-lg ">
                    <div class="g-0 lg:flex lg:flex-wrap">
                        <!-- Parte izquierda donde ira el formulario-->
                        <div class="px-4 md:px-0 lg:w-6/12">
                            <div class="md:mx-6 md:p-12">
                                <!--Logo-->
                                <div class="text-center">
                                    <img class="mx-auto w-64" src="~/Images/logo-1024-1024-clean.png" alt="logo" />
                                    <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">Somos Salud</h4>
                                </div>
                                <p class="mb-4 font-bold">Crear Cuenta</p>

                                <form asp-page="/Identity/Account/Register" method="post">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label for="Email">Correo:</label>
                                        <input asp-for="Input.Email" class="w-full px-3 py-2 border rounded-md" autocomplete="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label for="Password">Contraseña:</label>
                                        <input asp-for="Input.Password" class="w-full px-3 py-2 border rounded-md" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label for="Password">Confirmar contraseña:</label>
                                        <input asp-for="Input.ConfirmPassword" class="w-full px-3 py-2 border rounded-md" autocomplete="new-password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="flex items-center justify-between">
                                        <button type="submit" class="mt-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-400 hover:enabled:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:opacity-50">
                                            Crear
                                        </button>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" asp-page="./Login">
                                            ¿Tienes una cuenta? Haz click aqui
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Columna de la derecha para poner el texto -->
                        <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
                             style="background: linear-gradient(to right, #438d8c , #56b5b4, #60cac8,#56b5b4, #438d8c )">
                            <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                                <h4 class="mb-6 text-xl font-semibold">Mas que salud</h4>
                                <p class="text-sm">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
