<EditForm Model="NuevoTrabajador" OnValidSubmit="@CrearTrabajador">
	<DataAnnotationsValidator />
	<ValidationSummary/>
    <label for="TrabNombre">Nombre:</label>
    <InputText id="TrabNombre" @bind-Value="NuevoTrabajador.TrabNombre" /><br><br>
    <label for="TrabApellido">Apellido:</label>
    <InputText id="TrabApellido" @bind-Value="NuevoTrabajador.TrabApellido" /><br><br>
    <label for="TrabDireccion">Dirección:</label>
    <InputText id="TrabDireccion" @bind-Value="NuevoTrabajador.TrabDireccion" /><br><br>
    <label for="TrabPuesto">Puesto:</label>
    <InputText id="TrabPuesto" @bind-Value="NuevoTrabajador.TrabPuesto" /><br><br>
    <label for="TrabHorario">Horario:</label>
    <InputText id="TrabHorario" @bind-Value="NuevoTrabajador.TrabHorario" /><br><br>
    <label for="TrabCorreo">Correo:</label>
    <InputText id="TrabCorreo" @bind-Value="NuevoTrabajador.TrabCorreo" /><br><br>
    <label for="TrabSexo">Sexo:</label>
    <InputText id="TrabSexo" @bind-Value="NuevoTrabajador.TrabSexo" /><br><br>
    <label for="TrabTel">Teléfono:</label>
    <InputText id="TrabTel" @bind-Value="NuevoTrabajador.TrabTel" /><br><br>
        <br />
        <div class="flex justify-end">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline @(@estaEnviando ? "bg-gray-500" : "")" disabled="@estaEnviando">Submit</button>
        </div>
   

</EditForm>