<!--PAGINA PARA EL FORMULARIO DE INICIAR SESION-->
<EditForm Model="@UsuarioIniciado" OnValidSubmit="@iniciarSesion">
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <InputEstandar TextoMostrado="Nombre de Usuario" ReciboValor="@UsuarioIniciado.UsuNombre"></InputEstandar>
            </div>
            <div class="mb-6">
                <InputEstandar TextoMostrado="Introduzca contrasena" TipoInput="password" ReciboValor="@UsuarioIniciado.UsuPwd"></InputEstandar>
            </div>
            <div class="flex items-center justify-between">
                <BotonConSombraBarra TextoBoton="Iniciar Sesion" ColorBoton="purple"></BotonConSombraBarra>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2023 Salud Total Corp. Todos los derechos reservados.
        </p>
    </div>
</EditForm>
