<!--Pagina informativa, acordar de llenarla con informacion-->
@page "/informacion"


<PageTitle>Informacion</PageTitle>
<BarraSuperior></BarraSuperior>
<p>En esta pagina se encontrara la informacion estandar de la web y como se ha hecho el proyecto</p>